@font-face {
    font-family: 'NotoSans-Regular';
    src: url('../assets/Fonts/NotoSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSans-Black';
    src: url('../assets/Fonts/NotoSans-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSans-SemiBold';
    src: url('../assets/Fonts/NotoSans-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}