@use "/src/styles/Variables.scss" as *;
@use "/src/styles/Mixins.scss" as *;
@use "/src/styles/Fonts.scss" as *;

.list{
    text-align: left;
    display: grid;
    row-gap: 24px;
    align-content: center;
    @include max-width(768px, 0 120px);
    overflow: visible;
    @media (max-width: 768px) {
            @include max-width(768px, 20px 40px);
        }
    
    
        @media (max-width: 480px) {
            @include max-width(480px, 16px 20px);
            row-gap: 16px;
        }
}

.genreHead {
    @include font-black(24px, 1.5, 0);
}